@import '_variables.scss';
body{
  background-color: $color-primario;
  header {
    background-color: $color-primario;
    color: $color-terciario;
  
    h1 {
      text-decoration: underline;
      color: $color-terciario;
    }
  
    p {
      color: $color-cuarto;
    }
    span {
        color: $color-cuarto;
      }
  }
}

  // carrusel
  #carouselExampleSlidesOnly {
    .carousel-item {
      img {
        border-radius: 5px; 
      }
    }
  }
  
  // lista de peliculas
  .card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  
    &:hover {
      color: inherit;
    }
  
    .card {
      border: 1px solid #ccc;
      border-radius: 8px; 
  
      img.card-img-top {
        border-top-left-radius: 8px; 
        border-top-right-radius: 8px; 
      }
  
      .card-body {
        padding: 1rem; 
      }
  
      .card-title {
        font-weight: bold; 
        margin-bottom: 0.5rem; 
      }
  
      .card-text {
        color: $color-quinto; 
      }
  

    }
  
    
    .bg-danger, .bg-warning, .bg-info {
      color: #fff; 
      padding: 0.2rem 0.5rem; 
      border-radius: 4px; 
    }
  }
  label{
    color:$color-sexto;

  }
  p{
    color:$color-sexto;
  }
  .infor{
    color:$color-quinto
  }
  h5{
    color:$color-sexto;
  }