@import '_variables.scss';
header {
    background-color: $color-primario;
    color: $color-terciario;
  
    h1 {
      text-decoration: underline;
    }
  
    p {
      color: $color-cuarto;
    }
    span {
        color: $color-cuarto;
      }
  }
  body {
    background-color: #f0f0f0; /* Color de fondo gris claro */
  }
  // Estilos para el carrusel
  #carouselExampleSlidesOnly {
    .carousel-item {
      img {
        border-radius: 5px; // Redondea las esquinas de las imágenes
      }
    }
  }
  
  // Estilos para la lista de películas
  .card-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  
    &:hover {
      color: inherit;
    }
  
    .card {
      border: 1px solid #ccc; // Borde ligero alrededor de cada tarjeta
      border-radius: 8px; // Bordes redondeados de las tarjetas
  
      img.card-img-top {
        border-top-left-radius: 8px; // Redondea la esquina superior izquierda de la imagen
        border-top-right-radius: 8px; // Redondea la esquina superior derecha de la imagen
      }
  
      .card-body {
        padding: 1rem; // Espaciado interno de la tarjeta
      }
  
      .card-title {
        font-weight: bold; // Texto del título en negrita
        margin-bottom: 0.5rem; // Espaciado inferior del título
      }
  
      .card-text {
        color: #666; // Color de texto más oscuro para el texto de la tarjeta
      }
  
      .position-absolute {
        // Estilos para los elementos absolutos (como las puntuaciones)
      }
    }
  
    // Estilos específicos para las puntuaciones
    .bg-danger, .bg-warning, .bg-info {
      color: #fff; // Texto blanco para las puntuaciones
      padding: 0.2rem 0.5rem; // Espaciado interno de las puntuaciones
      border-radius: 4px; // Bordes redondeados de las puntuaciones
    }
  }