// Archivo _variables.scss actualizado con nueva paleta de colores
$color-primario: #0D3B66;     // Azul oscuro
$color-secundario: #869db2;   // Azul-gris
$color-terciario: #7A8B99;    // Gris azulado claro
$color-cuarto: #C1D1E8;      // Gris claro
$color-quinto: #000000;