// Archivo _variables.scss actualizado con nueva paleta de colores
$color-primario: #0D3B66;     // Azul oscuro
$color-secundario: #2A2F41;   // Azul-gris
$color-terciario: #A0ACB6;    // Gris azulado claro
$color-cuarto: #C1D1E8;      // Gris claro
$color-quinto: #000000;
$color-sexto: #DFD8D8; //para el texto que esta sobre el fondo azul 